/* Custom styles */
:root {
    --primary-bg: #f7f7f7;
    --table-border: #ddd;
    --header-bg: #f4f4f4;
    --btn-bg: #add8e6;
    --btn-hover-bg: #458297;
    --error-color: #dc3545;
    --highlight-color: #d1e7dd;
}

body {
    background-color: var(--primary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.highlight {
    background-color: var(--highlight-color);
}

.table-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    
}

.btn-add {
    padding: 10px 20px;
    background-color: #add8e6;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

.navigation-buttons {
    padding: 5px 5px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.btn-operations {
    color: blue;
}

.btn-add:hover {
    background-color: var(--btn-hover-bg);
}

.table-custom {
    width: 100%;
    margin-bottom: 20px;
}

.table-custom th,
.table-custom td {
    padding: 12px;
    border: 1px solid var(--table-border);
}

.table-custom th {
    background-color: var(--header-bg);
}

.error-message {
    color: var(--error-color);
    font-size: 0.8em;
    margin-top: 2px;
}

.cell-content {
    min-height: 1em;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .table-container {
        padding: 10px;
    }

    .btn-add {
        position: static;
        margin-bottom: 15px;
    }

    .table-custom {
        font-size: 0.9em;
    }
}

@media (max-width: 430px) {
    .table-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .table-custom {
        min-width: 100%;
        width: max-content;
    }

    .btn-add {
        width: 100%;
        justify-content: center;
    }
}